[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "TUSafariActivity"]
	path = TUSafariActivity
	url = https://github.com/davbeck/TUSafariActivity.git
[submodule "UILabel-VerticalAlignment"]
	path = UILabel-VerticalAlignment
	url = https://github.com/ecentinela/UILabel-VerticalAlignment
[submodule "Objective-C-HTML-Parser"]
	path = Objective-C-HTML-Parser
	url = git://github.com/tresni/Objective-C-HMTL-Parser.git
[submodule "TSMessages"]
	path = TSMessages
	url = https://github.com/toursprung/TSMessages.git
[submodule "iOSPorts"]
	path = iOSPorts
	url = https://github.com/bindle/iOSPorts.git
[submodule "readable"]
	path = readable
	url = https://github.com/JanX2/readable.git
[submodule "HexColors"]
	path = HexColors
	url = https://github.com/mRs-/HexColors.git
[submodule "JCGridMenu"]
	path = JCGridMenu
	url = https://github.com/joecarney/JCGridMenu.git
[submodule "MSCMoreOptionTableViewCell"]
	path = MSCMoreOptionTableViewCell
	url = https://github.com/scheinem/MSCMoreOptionTableViewCell.git
[submodule "UAAppReviewManager"]
	path = UAAppReviewManager
	url = https://github.com/UrbanApps/UAAppReviewManager.git
[submodule "KSCrash"]
	path = KSCrash
	url = https://github.com/kstenerud/KSCrash.git
[submodule "PDKeychainBindingsController"]
	path = PDKeychainBindingsController
	url = https://github.com/carlbrown/PDKeychainBindingsController.git
[submodule "MMDrawerController"]
	path = MMDrawerController
	url = https://github.com/mutualmobile/MMDrawerController.git
[submodule "MMDrawerController-Storyboard"]
	path = MMDrawerController-Storyboard
	url = https://github.com/TomSwift/MMDrawerController-Storyboard.git
