[submodule "readable"]
	path = readable
	url = https://github.com/JanX2/readable.git
[submodule "PDKeychainBindingsController"]
	path = PDKeychainBindingsController
	url = https://github.com/carlbrown/PDKeychainBindingsController.git
[submodule "RMessage"]
	path = RMessage
	url = https://github.com/donileo/RMessage.git
