github "AFNetworking/AFNetworking"
github "kstenerud/KSCrash"
github "phedlund/TUSafariActivity" "master"
github "phedlund/BRYHTMLParser" "carthage_support"
github "Alamofire/Alamofire"
github "scinfu/SwiftSoup"
github "onevcat/Kingfisher" ~> 4.0