{
	MarkWhileScrolling = YES;
	ShowThumbnails = YES;
	ShowFavicons = YES;
	SyncInBackground = NO;
	SyncOnStart = NO;
	"PreviousPasteboardURL" = "http://example.com";
	HideRead = NO;
	ItemsToUnstar = ();
	ItemsToStar = ();
	ItemsToMarkUnread = ();
	ItemsToMarkRead = ();
	FeedsToDelete = ();
	FeedsToAdd = ();
	FeedsToMove = ();
	FeedsToRename = ();
	FoldersToDelete = ();
	FoldersToAdd = ();
	FoldersToRename = ();
	"AllowInvalidSSLCertificate" = NO;
	LastModified = 1373159596;
	Server = "";
	Background = 0;
	Backgrounds = (
		"#FFFFFF",
		"#F5EFDC",
		"#000000",
	);
	Colors = (
		"#000000",
		"#000000",
		"#999999",
	);
	ColorsLink = (
		"#354559",
		"#354559",
		"#D7E0E1",
	);
	FontSize = 13;
	LineHeight = "1.4";
	MarginPortrait = 70;
	MarginLandscape = 70;
}