
html {
    -webkit-text-size-adjust: none; /* Never autoresize text */
}

@media only screen
and (orientation: portrait) {
    body {
        background: $BACKGROUND$;
        color:$COLOR$;
        font-size:$FONTSIZE$;
        align: center;
        width: $MARGIN$;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    div.header {
        width:$MARGIN$;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
    }

}

@media only screen
and (orientation: landscape) {
    body {
        background: $BACKGROUND$;
        color:$COLOR$;
        font-size:$FONTSIZE$;
        align: center;
        width: $MARGIN_LANDSCAPE$;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    div.header {
        width:$MARGIN_LANDSCAPE$;
        margin-left:auto;
        margin-right:auto;
        margin-top:30px;
    }

}

h1 {
   font-family:"HelveticaNeue";
   font-size:150%;
   line-height:$LINEHEIGHT$;
   clear: both;
}

h2 {
    font-family:"HelveticaNeue";
    font-size:110%;
    /*margin-top:-0.8em;*/
    line-height:$LINEHEIGHT$;
}

h3 {
    font-family:"HelveticaNeue";
    font-size:100%;
    line-height:$LINEHEIGHT$;
}

h4 {
    font-family:"Arial";
    font-size:80%;
    line-height:$LINEHEIGHT$;
}

p {
    font-family:"Palatino";
    font-size:100%;
    line-height:$LINEHEIGHT$;
    clear:both;
}

/* links always have a dark blue color */
a {
    text-decoration: none;
    /*color:$COLORLINK$;*/
}

/* make sure sub and superscript don't mess up line height */
sub, sup { 
    font-size: 75%;
    line-height: 0; 
    position: relative; 
    vertical-align: baseline; 
}

sup { 
    top: -0.5em; 
}

sub {
    bottom: -0.25em; 
}

div.articleTitle {
    background: $BACKGROUND$;
    font-size: 175%;
    font-family: HelveticaNeue;
    color: $COLOR$;
    margin-top:10px;
}

a.articleTitleLink {
    text-decoration: none;
    color: $COLOR$;
}

div.feedTitle {
    font-size: 90%;
    font-family: Palatino;
    color: DimGray;
    margin-bottom:10px;
}

div.articleDate {
    font-size: 80%;
    font-family: Palatino;
    color: Gray;
    text-align:right;
    margin-bottom:10px;
}

div.titleHeader {
    border-bottom-style:groove;
    border-bottom-color:#F5F5F5;
    border-bottom-width:2px;
}

div.articleAuthor {
    font-size: 90%;
    font-family: Palatino;
    color: Gray;
    margin-bottom:10px;
}

div.content {
    margin-top:30px;
    line-height:$LINEHEIGHT$;
}

div.footer {

}

a.footerLink {
    border:2px solid WhiteSmoke;
    background:WhiteSmoke;
    border-radius:3px;
    text-align:center;
    font-family:HelveticaNeue;
    font-size:90%;
    text-decoration: none;
    color:Gray;
    display:block;
    width:100%;
    height:50px;
    line-height:1.0em;
}

img {
    max-width: 100%;
    height: auto;
}
